# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  name: Default
  vmImage: ubuntu-latest

variables:
- name: Azure.WorkloadIdentity.Connection
  value: google-cloud
- name: GoogleCloud.WorkloadIdentity.ProjectNumber
  value: 239603214487
- name: GoogleCloud.WorkloadIdentity.Pool
  value: atmosfera-azuredevops-pool
- name: GoogleCloud.WorkloadIdentity.Provider
  value: atmosfera-devops
- name: GoogleCloud.WorkloadIdentity.ServiceAccount
  value: azuredevops@atmosfera-ccoe.iam.gserviceaccount.com
- name: GOOGLE_APPLICATION_CREDENTIALS
  value: $(Pipeline.Workspace)/.workload_identity.wlconfig

steps:
  - task: AzureCLI@2
    inputs:
      connectedServiceNameARM: $(Azure.WorkloadIdentity.Connection)
      addSpnToEnvironment: true
      scriptType: 'bash'
      scriptLocation: 'inlineScript'
      inlineScript: |
        echo $idToken > $(Pipeline.Workspace)/.workload_identity.jwt
        cat << EOF > $GOOGLE_APPLICATION_CREDENTIALS
        {
          "type": "external_account",
          "audience": "//iam.googleapis.com/projects/$(GoogleCloud.WorkloadIdentity.ProjectNumber)/locations/global/workloadIdentityPools/$(GoogleCloud.WorkloadIdentity.Pool)/providers/$(GoogleCloud.WorkloadIdentity.Provider)",
          "subject_token_type": "urn:ietf:params:oauth:token-type:jwt",
          "token_url": "https://sts.googleapis.com/v1/token",
          "credential_source": {
            "file": "$(Pipeline.Workspace)/.workload_identity.jwt"
          },
          "service_account_impersonation_url": "https://iamcredentials.googleapis.com/v1/projects/-/serviceAccounts/$(GoogleCloud.WorkloadIdentity.ServiceAccount):generateAccessToken"
        }
        EOF
        echo 'Oi'
        echo $GOOGLE_APPLICATION_CREDENTIALS
  - task: Bash@3
    inputs:
      targetType: 'inline'
      script: |
        # Write your commands here
      
        echo 'Hello world'
        echo $GOOGLE_APPLICATION_CREDENTIALS
        gcloud projects list